* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    width: max-content;
}

thead {
    position: sticky;
    top: 0;
}

tbody th {
    position: sticky;
    left: 0;
}

th, div {
    width: 150px;
    height: 50px;
    background-color: cadetblue;
}

tbody tr:nth-child(even) {
    background-color: rgb(196, 203, 210);
}
div{
    position: fixed;
    top: 0;
    left: 0;
}